<%
const title = "Factorio Item Browser";
const description = "Browse thousands of items and recipes in all of the mods of Factorio.";
const color = "#165868";
const manifestUrl = "/manifest.webmanifest";

const faviconSizes = [32, 64, 128, 144, 160, 512];
const shortcutIconSizes = [192];
const appleTouchIconSizes = [152, 180];
%>
<!DOCTYPE html>
<html lang="en" translate="no">
    <head>
        <meta charset="utf-8" />
        <title><%= title %></title>
        <base href="/" />

        <meta name="description" content="<%= description %>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="<%= color %>">
        <meta name="msapplication-TileColor" content="<%= color %>" />

        <meta property="og:type" content="website" />
        <meta property="og:title" content="<%= title %>" />
        <meta property="og:description" content="<%= description %>" />
        <meta property="og:image" content="<%= require(`./image/icon/icon-512.png`)%>" />

        <link rel="manifest" href="<%= manifestUrl %>" />
        <% for (const size of faviconSizes) { %><link rel="icon" href="<%= require(`./image/icon/icon-${size}.png`) %>" sizes="<%= size %>x<%= size %>" /><% } %>
        <% for (const size of shortcutIconSizes) { %><link rel="shortcut icon" href="<%= require(`./image/icon/icon-${size}.png`) %>" sizes="<%= size %>x<%= size %>" /><% } %>
        <% for (const size of appleTouchIconSizes) { %><link rel="apple-touch-icon" href="<%= require(`./image/icon/icon-${size}.png`) %>" sizes="<%= size %>x<%= size %>" /><% } %>
        <script type="text/javascript">window.onerror=function(){var e=document.getElementById("incompatible-error");e&&e.classList.remove("hidden-error"),window.onerror=null};</script>
    </head>
    <body>
        <div id="app">
            <div class="error-box-wrapper">
                <div class="error-box">
                    <div class="error-icon loading"></div>
                    <div class="error-message">
                        <h2>Loading...</h2>
                        <span>Please wait.</span>
                    </div>
                </div>
            </div>
            <div id="incompatible-error" class="error-box-wrapper hidden-error">
                <div class="error-box">
                    <div class="error-icon fatal"></div>
                    <div class="error-message">
                        <h2>Incompatible browser</h2>
                        <span>The browser with its current settings you are using is not compatible with this website. Please check that you are using a modern browser, and that cookies for this domain are allowed.</span>
                    </div>
                </div>
            </div>
            <noscript>
                <div class="error-box-wrapper">
                    <div class="error-box">
                        <div class="error-icon danger"></div>
                        <div class="error-message">
                            <h2>Javascript disabled</h2>
                            <span>Please enable Javascript for this page to work and for the factory to grow.</span>
                        </div>
                    </div>
                </div>
            </noscript>
        </div>
    </body>
</html>
